<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <ExcelPath>H:\Library.xlsx</ExcelPath>
  <ExcelPath_Old>H:\Library_old.xlsx</ExcelPath_Old>
  <Source>H:\</Source>
  <SpotifyAPIKey>your_spotify_api_key</SpotifyAPIKey>
  <RatingScale>
    <Level_Normal>Normal</Level_Normal>
    <Level_Good>Bueno</Level_Good>
    <Level_Super>Super</Level_Super>
  </RatingScale>
</Configuration>